* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

tr {
  height: 100px;
}

td {
  width: 100px;
  border: 3px solid black
}

#row0 * {
  border-top: none;
}

#row2 * {
  border-bottom: none;
}

.col0 {
  border-left: none;
}

.col2 {
  border-right: none;
}